
.carousel {
    
    height: 300px; 
    overflow: hidden;
    align-items: center;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  