body {
  background-color: #f7f6cf;
  color: #5784ba;
  background-image: url("../../res/img/index/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.droite{
    display: block;
}
